gridbuilder = LogicallyCartesian

[Restart]
filename = 

[Simulation]
time_initial = 0.0
maximum_timesteps = 20000
dt = 0.4
data_save_interval = 1000
data_save_interval_unit = timestep
data_save_initial_state = yes
maximum_load_imbalance = 1.2
repartition_check_interval = 700
random_number_generator.seed = 6461674
restart_write_interval = 0
restart_major_store_interval = 0
restart_minor_store_amount = 0
#restart = yes
save_particles = 0
mesh_always_written = yes

[LoadBalance]
methods = RCB
#methods = RANDOM
tolerances = 1.05
processes_per_partition = 2

[LogicallyCartesian]
geometry = cartesian
x_periodic = no
y_periodic = no
z_periodic = yes
x_min = -100e6
y_min = -1.5e6
z_min = -50e6
x_max = +50e6
y_max = +1.5e6
z_max = +50e6
dx_uniform = yes
dy_uniform = yes
dz_uniform = yes
x_size = 150
y_size = 3
z_size = 100
x_label = x-axis
y_label = y-axis
z_label = z-axis
x_units = m
y_units = m
z_units = m

[Hybrid]
log_interval = 500
includeInnerCellsInFieldLog = 0
output_parameters = cellBAverage cellB cellUe n_ave v_ave T nodeE n_tot v_tot T_tot
R_object = 1e3
R_fieldObstacle = -100
R_particleObstacle = -100
maxUe = 5000e3
maxVi = 5000e3
minRhoQi = 1.6020e-14
terminateLimitMaxB = 1000e-9
hall_term = 1
Efilter = 1
EfilterNodeGaussSigma = 0.0
particle.population.solarwind = sw_H+
particle.population.exosphere = water+

[Resistivity]
profile_name = resistivityConstant
etaC = 0.02
R = 0.0

[OuterBoundaryZone]
typeEta = 0
typeMinRhoQi = 0
sizeEta = 0
sizeMinRhoQi = 0
minRhoQi = 0
etaC = 0

[DataOperatorExcludes]
exclude_list =

[IMF]
Bx = 0.0
By = 3.0e-9
Bz = 0.0

[IntrinsicB]
profile_name = laminarFlowAroundSphereBx
coeffDipole = 0.0
coeffQuadrupole = 0.0
dipoleSurfaceB = 0.0
dipoleSurfaceR = 0.0
minimumR = 5000e3
x = 0.0
y = 0.0
z = 0.0
theta = 0.0
phi = 0.0

[sw_H+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 1.0
charge = +1.0
obstacle = -100
accumulate = 1
accelerate = 1
output_str = H+sw
output_plasma = 1
injector.name = SolarWindInjector
injector.parameters = inj_sw_H+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[inj_sw_H+]
speed = 400e3
density = 7e6
temperature = 1e5
macroparticles_per_cell = 30

[water+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 17.8880847
charge = +1.0
obstacle = -100
accumulate = 1
accelerate = 1
output_str = W+
output_plasma = 1
injector.name = ExosphereInjector
injector.parameters = inj_water+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[inj_water+]
neutral_profile = PowerLaw
neutral_profile.r0 = 1e3
neutral_profile.n0 = 1e10
neutral_profile.k0 = 2.0
temperature = 1e5
exobase_radius = 0.0
shadow_radius = 0.0
total_production_rate = 1e24
macroparticles_per_cell = 10.0

