gridbuilder = LogicallyCartesian

[Restart]
filename = 

[Simulation]
time_initial = 0.0
maximum_timesteps = 4000
dt = 0.10
data_save_interval = 100
data_save_interval_unit = timestep
data_save_initial_state = yes
maximum_load_imbalance = 1.2
repartition_check_interval = 300
random_number_generator.seed = 6461674
restart_write_interval = 1500
restart_major_store_interval = 0
restart_minor_store_amount = 0
#restart = yes
save_particles = 0
mesh_always_written = yes

[LoadBalance]
#methods = RCB
methods = RANDOM
tolerances = 1.05
processes_per_partition = 2

[LogicallyCartesian]
geometry = cartesian
x_periodic = no
y_periodic = no
z_periodic = no
x_min = -13560e3
y_min = -6780e3
z_min = -11865e3
x_max = +10170e3
y_max = +15255e3
z_max = +8475e3
dx_uniform = yes
dy_uniform = yes
dz_uniform = yes
x_size = 14
y_size = 13
z_size = 12
x_label = x-axis
y_label = y-axis
z_label = z-axis
x_units = m
y_units = m
z_units = m
force_cubic_cells = no

[DataOperatorExcludes]
exclude_list =

[Hybrid]
log_interval = 10
log_precision = 10
includeInnerCellsInFieldLog = 0
main_log_diagnostics_interval = 150
output_parameters = cellBAverage cellB cellUe ne n_ave v_ave T nodeE cellEp
data_save_all_timesteps_t_start = 110
data_save_all_timesteps_t_end = 112
save_reduced_state_interval = 0
save_reduced_state_Nstride = 10
save_reduced_state_include_particles = 0
save_particles = 0
save_particles_Nstride = 10
R_object = 3390e3
R_fieldObstacle = 3690e3
fieldObstacleUe = (-1e2,0,4e1)
R_particleObstacle = 3590e3
use_gravity = 1
M_object = 0.64169e24
use_hall_term = 1
include_B0_faraday = 0

particle.population.solarwind = swH+
particle.population.flow = swHe++
particle.population.ionosphere = ionoO+
particle.population.ionosphere = ionoO2+
particle.population.exosphere = exoH+
particle.population.exosphere = exoO+
#particle.population.uniform = uniHe+

[ElectronPressure]
use_electron_pressure = 1
temperature = 1e4
closure_gamma = 2
R_zero = 3655e3

[Resistivity]
profile_name = resistivitySuperConductingSphere
value_unit = Rm
value = 5.5
R = 3690e3
outer_boundary_cells = 0 2 0 0 4 0
outer_boundary_coeffs = 1 1.3 1 1 0.9 1

[Constraints]
max_ion_velocity = 700e3
max_electron_velocity = 442e3
min_ion_charge_density_relative = 0.053
max_electric_field = 0.002
max_whistler_velocity = 214e3
max_magnetic_field_stop_run = 1000e-9
initial_flow_throughs = 0.3
electric_field_linear_smoothing_number = 1
electric_field_smoothing_gauss_sigma = 0.2

[DetectorParticle]
t_start = 100
t_end = 120
record_impacting_particles = 0
max_detections = 1e6
write_interval_timestep = 10
#coordinate_file = ./detector_points.dat

[DetectorBulkParameter]
t_start = 100
t_end = 120
max_detections = 1e6
write_interval_timestep = 10
#coordinate_file = ./detector_points.dat

[IMF]
Bx = -1.82e-9
By =  2.79e-9
Bz = -0.5e-9
BoundaryCellB = 1 0 0 0 0 0
BoundaryFaceB = 1 0 0 0 0 0

[IntrinsicB]
profile_name = laminarFlowAroundSphereBx
laminarR = 3690e3
coeffDipole = 0
coeffQuadrupole = 0
dipoleSurfaceB = 0
dipoleSurfaceR = 1000e3
minimumR = 1000e3
x = 0
y = 0
z = 0
theta = 0
phi = 0

[swH+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 1.0
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = H+sw
injector.name = SolarWindInjector
injector.parameters = injector_swH+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_swH+]
velocity = (-430e3,0,0)
density = 3e6
temperature = 6e4
macroparticles_per_cell = 23

[swHe++]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 3.9737
charge = +2.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = He++sw
injector.name = FlowInjector
injector.parameters = injector_swHe++
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_swHe++]
velocity = (-420e3,40e3,-10e3)
density = 1.5e5
temperature = 6e4
macroparticles_per_cell = 1.2
inflow_boundaries = +x -y +z

[ionoO+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 15.883821896403
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = O+
injector.name = IonosphereInjector
injector.parameters = injector_ionoO+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_ionoO+]
profile_name = ionoCosSzaDayConstantNight
emission_radius = 3790e3
noon = 1.0
night = 0.1
temperature = 10000
total_production_rate = 1.4e25
macroparticles_per_cell_relative = 1.0

[ionoO2+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 31.7676437922082
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = O2+
injector.name = IonosphereInjector
injector.parameters = injector_ionoO2+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_ionoO2+]
profile_name = ionoCosSzaDayConstantNight
emission_radius = 3790e3
noon = 1.0
night = 0.1
temperature = 8000
total_production_rate = 2e25
macroparticles_per_cell_relative = 0.7

[exoH+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 1.0
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = H+planet
injector.name = ExosphereInjector
injector.parameters = injector_exoH+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_exoH+]
neutral_profile = ChamberlainH
neutral_profile.r0 = 3593.5e3
neutral_profile.n0 = 1.5e11
neutral_profile.n0 = 1.9e10
neutral_profile.H0 = 25965e3
neutral_profile.H0 = 10365e3
temperature = 1.1e4
exobase_radius = 3790e3
shadow_radius = 3390e3
#ionization_rate = 1.04446e-07
ionization_factor_shadow = 0.2
total_production_rate = 5.47e24
macroparticles_per_cell_relative = 0.9

[exoO+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 15.883821896403
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = O+
injector.name = ExosphereInjector
injector.parameters = injector_exoO+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_exoO+]
neutral_profile = Exponential
neutral_profile.r0 = 3393.5e3
neutral_profile.n0 = 5.23e9
neutral_profile.n0 = 9.76e8
neutral_profile.n0 = 3.71e10
neutral_profile.H0 = 626.2e3
neutral_profile.H0 = 2790e3
neutral_profile.H0 = 88.47e3
temperature = 7.5e4
exobase_radius = 3790e3
shadow_radius = 3390e3
#ionization_rate = 1.15994e-07
ionization_factor_shadow = 0.0
total_production_rate = 0.156e24
macroparticles_per_cell_relative = 0.6

[uniHe+]
mass_unit = MASS_PROTON
charge_unit = CHARGE_ELEMENTARY
mass = 3.9737
charge = +1.0
obstacle = 3590e3
accumulate = 1
accelerate = 1
output_str = He+uni
injector.name = UniformInjector
injector.parameters = injector_uniHe+
accumulator.name = HybridAccumulator
accumulator.parameters =
boundary_condition.name = HybridBoundaryCond
boundary_condition.parameters =
propagator.name = BorisBuneman
propagator.parameters =

[injector_uniHe+]
velocity = (+10e3,-2.4e3,-1.521e3)
density = 0.4e4
temperature = 3.4e3
macroparticles_per_cell = 1.56
#xmin = -5e6
#xmax = 2e6
#ymin = 2e6
#ymax = 5e6
#zmin = -3e6
#zmax = 2e6


